# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
apk/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
coverage/

# IDEs
.idea/
.vscode/
*.iml

# Archivos de sistema
.DS_Store
*.swp

# Configuración de entorno
.env
*.lock
